*{
    margin: 0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}
h1 {
    font-size: 60px;
    font-weight: 600;
    color: white; 
 }

body{
    background: black;
    color: white
}
#navbar{
    width: 100%; /* takes only the required width */
    position: fixed;
    top: 0;
    right: 0; /* positions the navbar to the right side of the viewport */
    z-index: 1000; /* This ensures the navbar stays above other page elements */
    padding: 10px;
}

#container{
    padding: 10px 10px;
}

#header{
    width: 100%;
    height: 100vh;
}


nav{
    margin-right:80px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
nav li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav li a{
    color:#fff;
    text-decoration: none;
    font-size:18px;
    position: relative;
}
nav li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background:#ff004f;
    left: 0;
    position: absolute;
    bottom:-6px;
    transition: 1s;
}
nav li a:hover::after{
    width: 100%;

}

.header-text{
    margin-top: 20px;
    font-size: 30px;
    width: 60%;
}

.header-text h1 span{
    color: skyblue;
}
.header-text h2 span{
    color:goldenrod;
}
.header-text h3{
    position:relative;
    text-align: center;
    color: skyblue;
}
.summary p{
    line-height: 1.5;
    color:white;
    font-size: 25px;
}
.summary span{
    font-size: 30px;
    color:goldenrod;

}

#about{
    height: 100vh;
    padding: 80px 0;
    color:#ababab;
}
.about-col-2{
    flex-basis:60%;
}
.right-align {
    float: right;
    margin-right: 50px;
}
.subtitle{
    font-size: 60PX;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight:500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:skyblue;
    font: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-content{
    display: block;
}


/*-----portfolio----*/
#portfolio{
    height: 70vh;
    padding: 80px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

/*-----------contact--------*/
#contact{
    height: 80vh;
    display: flex;
}
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p{
    margin-right:15px ;
    font-size: 25px;
}
.btn{
    display: inline-block;
    margin: 50px 10px;
    width:fit-content;
    padding: 14px 50px;
    border-radius: 6px;
    background:skyblue;
    transition:background 0.5s;
    text-decoration: none;
}
.btn:hover{
    background:white;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    color: white;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 2-px;
    cursor: pointer;

}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
#msg{
    color: white;
    margin-top: 10px;
    display: block;
}